body {
    font-family:'Amatic SC', cursive;
}
#pizz {
    font-size: 50px;
}

.nav-word {
    padding-left: 0%;
    font-family: 'Pacifico', cursive;
}
.list-nav a {
 text-decoration: none;
 color: whitesmoke;
 letter-spacing: 5px;
 padding: 14px;
}
.list-nav {
    font-family: 'Indie Flower', cursive;
}
.navbar{
    background: rgb(133, 22, 22);
    
}